<ion-view title="Better Friends">
    <ion-content class="padding">
        <h1 class="text-center">Monday Night</h1>
        <h2 class="text-center">Lone Palm, 8pm</h2>
        <div class="list list-inset">
            Invite two friends: {{ invitedContacts[0].name.formatted }}
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="data.searchString" />
            </label>
        </div>
        <div class="list" ng-show="contacts">
            <div class="invite-item item item-button-right" ng-repeat="contact in contacts | orderBy : 'name.formatted' | filter : {name:data.searchString}">
                <h2>
                    {{contact.name.formatted}}
                    <span ng-show="contact.phoneNumber.displayType" class="phoneType">({{contact.phoneNumber.displayType}})</span>
                </h2>
                <p>{{contact.phoneNumber.value}}</p>
                <button class="button button-balanced" ng-show="!added" ng-click="added=true;addInvite(contact)">
                    invite
                </button>
                <button class="button button-assertive" ng-show="added" ng-click="added=false;;removeInvite(contact)">
                    delete
                </button>
            </div>
        </div>
        <div>
            {{ status_contacts }}
        </div>
    </ion-content>
</ion-view>